#### Melbourne_housing_FULL.csv was obtained from kaggle.com
Link: **

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### **EXPLORATORY DATA ANALYSIS: DATA PREPROCESSING**

In [29]:
# loading and gathering insights about the dataset
df = pd.read_csv("../Datasets/Melbourne_housing_FULL.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

Understanding the dataset

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

##### (i). Handling Missing Values

**Data Cleaning:**

        - to remove (drop) rows with missing values from the important columns, imputting would cause a huge error risk
        - to handle missing values in the remaining columns (either imputing or dropping the records)
        - in this dataset are potential outliers, they are expected to be valid since many factors are
          considered in house pricing

**High Priority Features (As per dataset requirement):**

        - bedrooms (Bedroom2, Bathroom)
        - square footage (Landsize)
        - age (YearBuilt)
        - location(RegionName, Suburb)
        - previous sale prices (Price)

In [34]:
# noting down not needed columns to remove them
unwanted_cols = ['Lattitude', 'Longtitude', 'Method', 'Distance', 'Date', 'Postcode']
df.drop(unwanted_cols, axis=1, inplace=True)

To minimize the risk of errors, we'll drop records with missing prices as Price is the high-importance dependent variable

In [36]:
# dropping rows missing Price
df.dropna(subset=['Price'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27247 entries, 1 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27247 non-null  object
 1   Address        27247 non-null  object
 2   Rooms          27247 non-null  int64
 3   Type           27247 non-null  object
 4   Price          27247 non-null  float64
 5   SellerG        27247 non-null  object
 6   Bedroom2       20806 non-null  float64
 7   Bathroom       20800 non-null  float64
 8   Car            20423 non-null  float64
 9   Landsize       17982 non-null  float64
 10  BuildingArea   10656 non-null  float64
 11  YearBuilt      12084 non-null  float64
 12  CouncilArea    27244 non-null  object
 13  Regionname     27244 non-null  object
 14  Propertycount  27244 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 3.3+ MB

To fill missing values using using the mean in each column to minimize errors

We'll encode categorical data first using LabelEncoder

In [ ]:
# importing labelencoder

In [38]:
# # filling NaNs with the mean in each column
# df.fillna(df.mean(), inplace=True)
# df.info()